<div class="col-sm-6 col-md-4 risk-square masonry-brick-small animated flipInX">
  <div ng-show="medicalCosts">
    <div class="heading">
      <svg height="13" width="10">
        <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
      </svg>
      <h6>Medical Costs</h6>
      <span class="icon-expand" options="modalOptions"  animated-modal href="#medicalCostsModal"></span>
    </div>
    <div class="content-summary">
      <h3 ng-show="allBelow">All payroll located in geographies with lower medical costs</h3>
      <h3 ng-show="!allBelow">Company has payroll in geographies with higher than national medical costs</h3>
    </div>
  </div>

  <div ng-show="!medicalCosts">
    <div class="heading">
      <svg height="13" width="10">
        <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
      </svg>
      <h6>Medical Costs</h6>
      <div class="content-summary">
        <h1><span class="no-data" >No Data Available</span></h1>
      </div>
    </div>
  </div>
</div>

<div id="medicalCostsModal" class="col-sm-6 col-md-4 ">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="close-medicalCostsModal close-modal">
    <span class="icon-cross-circle fa-3"></span>
  </div>
  <div class="content" style="width: 100%; height: 400px">
    <div id="medicalCostsChart"></div>
  </div>
</div>