<div class="col-sm-6 col-md-4 risk-square masonry-brick-small animated flipInX">
  <div ng-show="showVehicles()">
    <div class="heading">
      <svg height="13" width="10">
        <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
      </svg>
      <h6>Company Owned Vehicles / Drivers</h6>
    </div>
    <div class="content-summary">
      <h3 class="text-center">Number of Drivers</h3>
      <h1><div class="round-score">{{totalDrivers | number}}</div></h1>
      <h5 class="text-center">Average Miles Driven per Driver: {{averageMilesDriven | number}} </h5>
      <h5 class="text-center">Miles <strong>{{vehiclesComparison()}}</strong> industry average</h5>
    </div>
  </div>

  <div ng-show="!showVehicles()">
    <div class="heading">
      <svg height="13" width="10">
        <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
      </svg>
      <h6>Company Owned Vehicles / Drivers</h6>
      <div class="content-summary">
        <h1><span class="no-data" >No Data Available</span></h1>
      </div>
    </div>
  </div>
</div>