<!-- PAYROLL SUMMARY-->
<div class="col-sm-6 col-md-4 risk-square masonry-brick-small animated flipInX">
  <div cg-busy="{promise:payrollBusy,message:message}"></div>
  <div class="heading">
    <svg ng-show="rstreetPayrollSummary" height="13" width="10">
      <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
    </svg>
    <svg ng-hide="rstreetPayrollSummary" height="13" width="10">
      <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
    </svg>
    <h6>Payroll</h6>
    <span class="icon-expand" options="modalOptions"  animated-modal href="#payrollModal" ng-show="rstreetPayrollSummary"></span>
  </div>
  <div class="content-summary">
    <table class="payroll-summary">
      <tr>
        <td style="border-right:1px solid #b4c2c6;border-bottom:1px solid #b4c2c6">
          <div >
            <h1><strong>{{rstreetStateCount || 'N/A'}}</strong></h1>
            <p>States</p>
          </div>
        </td>
        <td  style="border-bottom:1px solid #b4c2c6">
          <div>
            <h1 ng-show="company.numOfEmployee"><strong>{{company.numOfEmployee | number}}</strong></h1><h1 ng-show="!company.numOfEmployee"><strong>N/A</strong></h1>
            <p>Employees</p>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td style="border-left:1px solid #b4c2c6;">
          <div >
            <h1><strong>{{rstreetPayrollSummary || 'N/A' | shortNumber}}</strong></h1>
            <p>Payroll</p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- payroll modal -->
<div id="payrollModal" class="col-sm-6 col-md-4">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="close-payrollModal close-modal">
    <span class="icon-cross-circle fa-3"></span>
  </div>
  <div class="content">
    <div class='map-key' style="margin-top:10px;">
      <p style="text-align:center">RSTREET GRADES</p>
      <table width='200px'>
        <tr>
          <td>A</td>
          <td>B</td>
          <td>C</td>
          <td>D</td>
          <td>F</td>
        </tr>
        <tr>
          <td class="bar-green">&nbsp;</td>
          <td class="bar-green2">&nbsp;</td>
          <td class="bar-yellow">&nbsp;</td>
          <td class="bar-orange">&nbsp;</td>
          <td class="bar-red">&nbsp;</td>
        </tr>
      </table>
    </div>
    <datamap
    map="mapObject"
    style="width:70%;float:left"
    >
    </datamap>
    <div style="width:30%;float:left" class="operations-container well"   >
      <div class="heading">
        <svg height="13" width="10">
          <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
        </svg>
        <h6>Payroll by State</h6>
        <!-- <span class="icon-expand"></span>-->
      </div>
      <table st-table="payrollDisplayed" st-safe-src="payrollCollection" class="table">

        <thead>
          <tr>
            <th st-sort="state">State</th>
            <th st-sort="regulation">Regulation</th>
            <th st-sort="legal">Legal</th>
          </tr>
        </thead>
        <tbody>
          <div cg-busy="{promise:busyPayroll,message:message,delay:delay,minDuration:minDuration}"></div>
          <div>
            <tr ng-repeat="payroll in payrollDisplayed" class="table-striped">
              <td>{{payroll.state}}</td>
              <td>{{payroll.regulationRate | capitalize}}</td>
              <td>{{payroll.legalRate | capitalize}}</td>
            </tr>
          </div>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

