<!-- VIOLATIONS/PENALTIES SUMMARY-->
<div class="col-sm-6 col-md-4 risk-square masonry-brick-small animated flipInX">
  <div class="heading">
    <svg ng-show="osha_accidents_total" height="13" width="10">
      <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
    </svg>
    <svg ng-hide="osha_accidents_total" height="13" width="10">
      <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
    </svg>
    <h6>OSHA Violations/Penalties</h6>
    <span class="icon-expand" ng-show="osha_accidents_total" options="modalOptions" animated-modal href="#violationsModal"></span>
  </div>
  <div class="content-summary">
    <h3>Total Violations</h3>
    <h1 ng-show="osha_accidents_total"><div class="round-score">{{vio_total || "N/A"}}</div ></h1>
    <h1 ng-hide="osha_accidents_total"><span class="no-data">No Data Available</span></h1>
    <h3>(past 3 years)</h3>
  </div>
</div>

<!--violations modal-->
<div id="violationsModal" class="col-sm-6 col-md-4">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="close-violationsModal close-modal">
    <span class="icon-cross-circle fa-3"></span>
  </div>
  <div  class="content osha-violations">
    <div>
      <nvd3 options="options" data="data"></nvd3>
    </div>
  </div>
</div>