<!-- underwriting content -->
<div class="risk360">
  <div class="content-wrapper">
    <div class="col-md-3 col-sm-3 col-xs-4 no-float">
      <div class="row status-panel">
        <div>
          <h6>Application Status</h6>
          <select class="app-status form-control">
           <option>In Progress</option>
           <option>Prospect</option>
           <option>Quoted</option>
           <option>Declined</option>
           <option>Completed</option>
           <option>Won</option>
           <option>Lost</option>
         </select>
        </div>
        <div>
          <h6>Company</h6>
          <p>{{overviewData.company.name || 'N/A'}}</p>
        </div>
        <div>
          <h6>Company Address</h6>
          <p class="company-address">
          {{overviewData.company.streetAddr1 || 'N/A'}}<br/>
          {{overviewData.company.streetAddr2}}
          <br ng-if="overviewData.company.streetAddr2" />{{overviewData.company.city}},
          {{overviewData.company.state}} {{overviewData.company.zip}}
          {{overviewData.company.country}}</p>
        </div>
        <div>
          <h6>Number of Employees</h6>
          <p>{{overviewData.company.numOfEmployee || 'N/A' | number}}</p>
        </div>
        <div>
          <h6>Annual Sales</h6>
          <p>{{overviewData.company.annualSales || 'N/A' | shortNumber}}</p>
        </div>
        <div>
          <h6>Industry</h6>
          <p>{{overviewData.company.description || 'N/A'}}</p>
        </div>
        <div>
          <h6>Year Established</h6>
          <p>{{overviewData.company.establishDate || 'N/A'}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9 col-sm-9 col-xs-8 no-float"  cg-busy="{promise:socialBusy,message:message,backdrop:backdrop}">
    <div class="share-container">
      <button class="btn btn-default share-btn" ng-click="triggerShareModal()"><span class="icon-share"></span>&nbsp;Share</button>
    </div>

    <div class="company-overview-container">
      <div class="row">
        <litigation-summary></litigation-summary>

        <social-summary></social-summary>

        <lossrun-summary></lossrun-summary>

        <payroll-summary></payroll-summary>

        <injuries-summary></injuries-summary>

        <osha-violations-summary></osha-violations-summary>

        <benchmarking-summary></benchmarking-summary>

        <job-transition-summary></job-transition-summary>

        <wages-summary></wages-summary>

        <medical-costs-summary></medical-costs-summary>

        <!-- <vehicles-summary></vehicles-summary> -->
      </div>
    </div>
  </div>
</div>