<div class="bootstrap-modal">
  <div class="modal-header">
    Share Report
  </div>
  <div class="modal-footer">
    <div class="icon">
      <span ng-if="!busy && !done && !error" class="icon-cloud-download"></span>
      <img ng-if="busy && !done && !error" src="/img/ring.svg" />
      <span ng-if="done && !error" class="icon-checkmark-circle"></span>
      <span ng-if="error" class="icon-warning"></span>
    </div>
    <div ng-if="error">There was a problem trying to download the file. Please try again later.</div>
    <div class="main-action">Download the report to view it offline</div>
    <!-- <div class="secondary-action">Some sort of subtext here.</div> -->
    <button class="btn btn-success" ng-click="generateFile();" ng-bind="buttonText()" ng-disabled="busy"></button>
  </div>
</div>