<!-- AVERAGE LOSS RUN SUMMARY-->
<div class="col-sm-6 col-md-4 risk-square masonry-brick-small animated flipInX">
  <div class="heading">
    <svg ng-show="severity.claimPerYear" height="13" width="10">
      <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
    </svg>
    <svg ng-hide="severity.claimPerYear" height="13" width="10">
      <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
    </svg>
    <h6>Loss History (prior carrier)</h6>
    <span class="icon-expand" options="modalOptions"  animated-modal href="#lossRunModal" ng-show="severity.claimPerYear"></span>
  </div>

  <div class="content-summary text-center" >
    <h3 class="text-center">Injury Claims/Year</h3>
    <h1><div class="round-score" >{{severity.claimPerYear || 'N/A'}}</div></h1>
    <h5 class="text-center">Average Severity: {{severity.averageSeverity || 'N/A' | currency}}</h5>
    <h5 class="text-center">Average Medical: {{severity.averageMedical || 'N/A' | currency}}</h5>
    <!-- osha_accidents_total -->
  </div>
</div>

<!--lossrun modal-->
<div id="lossRunModal" class="col-sm-6 col-md-4">
    <div class="close-lossRunModal close-modal">
        <span class="icon-cross-circle fa-3"></span>
    </div>
    <div>
        <div class="content">
          <nvd3 options="options"  data="data"></nvd3>
        </div>
    </div>
</div>