<div id="litigationsModal" class="col-sm-6 col-md-4 ">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="close-litigationsModal close-modal">
    <span class="icon-cross-circle fa-3"></span>
  </div>
  <div class="">
    <div class="content">
      <h1 class="text-center">Potential Litigations<br/><span class="icon-users2 fa-3"></span></h1>
      <div ng-repeat="para in overviewData.overview.litigations_desc track by $index"  style="padding: 0 40px;">
        <h2>{{para.companyName || 'N/A'}}</h2>
        <p>Company CIK: {{para.companyCIK || 'N/A'}}</p>
        <p>Filing Date: {{para.filingDate || 'N/A'}}</p>
        <p>Form Type: {{para.formType || 'N/A'}}</p>
        <p>Year-Quarter Filing: {{para.yr-QtFiling || 'N/A'}}</p>
        <div ng-repeat="p in para.paragraph">
          <p>{{p.item || 'N/A'}}</p> <p>{{p.line || 'N/A'}}</p>
        </div>
        <p>Updated in D3: {{p.updateinD3 || 'N/A' | date }}</p>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4 risk-square masonry-brick-small animated flipInX">
  <div class="heading">
    <svg ng-show="overviewData.overview.litigation_findings" height="13" width="10">
      <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
    </svg>
    <svg ng-hide="overviewData.overview.litigation_findings" height="13" width="10">
      <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
    </svg>
    <h6>Potential Litigations</h6>
    <span class="icon-expand" options="modalOptions"  animated-modal href="#litigationsModal" ng-show="overviewData.overview.litigation_findings"></span>
  </div>
  <div class="content-summary margin-20">
    <span ng-show="overviewData.overview.litigation_findings" class="icon-users-plus fa-5"></span>
    <h1 ng-show="overviewData.overview.litigation_findings">{{overviewData.overview.litigation_findings || 'N/A' | characters:65}}</h1>
    <h1 ng-hide="overviewData.overview.litigation_findings"><span class="no-data" >No Data Available</span></h1>
  </div>
</div>