<!-- Workplace Injuries / Fatalities SUMMARY-->
<div class="col-sm-6 col-md-4 risk-square masonry-brick-small animated flipInX">
  <div class="">
    <div class="heading">

      <svg ng-show="overview.osha_accidents_total" height="13" width="10">
        <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
      </svg>
        <svg ng-hide="overview.osha_accidents_total" height="13" width="10">
          <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
        </svg>
        <h6>Workplace Injuries / Fatalities</h6>
        <span class="icon-expand" ng-show="overview.osha_accidents_total" options="modalOptions" animated-modal href="#fatalitiesModal" style="width:20px;height:20px;padding:2px;display:inline-block;float:right"></span>
    </div>

    <div class="content-summary">
      <h3 class="text-center">Injuries (3 years)</h3>
      <h1>
        <div ng-show="overview.osha_accidents_total" class="round-score" > {{overview.non_fatalities_3yravg || "N/A"}}</div>
        <div ng-hide="overview.osha_accidents_total" class="round-score" > N/A</div>
      </h1>
      <h3 class="text-center">Fatalities/year:
        <span ng-show="overview.non_fatalities_3yravg">{{overview.fatalities_3yravg || "N/A"}}</span>
        <span ng-hide="overview.non_fatalities_3yravg">N/A</span>
      </h3>
    </div>
  </div>
</div>

<!--injuries/fatalities modal-->
<div id="fatalitiesModal" class="col-sm-6 col-md-4">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="close-fatalitiesModal close-modal">
      <span class="icon-cross-circle fa-3"></span>
  </div>
  <div>
    <div class="content">
      <div id="fatalitiesChart"></div>
    </div>
  </div>
</div>