<!-- SOCIAL SENTIMENT SUMMARY-->

<div class="col-sm-6 col-md-4 {{toggleAnimation}} risk-square masonry-brick-small animated flipInX" >
  <div class="heading">
    <svg ng-show="overviewData.overview.glassdoor" height="13" width="10">
      <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
    </svg>
    <svg ng-hide="overviewData.overview.glassdoor" height="13" width="10">
      <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
    </svg>
    <h6>Social Sentiment</h6>
    <span class="icon-expand" options="modalOptions"  animated-modal href="#socialModal" ng-show="overviewData.overview.glassdoor"></span>
  </div>
  <div class="content-summary margin-20">
    <h1 ng-show="overviewData.overview.glassdoor">
      <div class="icon-thumbs-up fa-5" ng-show="overviewData.overview.glassdoor.centi_score == 'Good Score'"></div>
      <div class="icon-thumbs-down fa-5" ng-show="overviewData.overview.glassdoor.centi_score == 'Bad Score'"></div>
      <br/>
      {{overviewData.overview.glassdoor.centi_score || 'N/A' | characters:75}}
    </h1>
    <h1 ng-hide="overviewData.overview.glassdoor"><span class="no-data" >No Data Available</span></h1>
  </div>
</div>

<!--social modal-->
<div id="socialModal" class="col-sm-6 col-md-4">
  <div class="close-socialModal close-modal">
    <span class="icon-cross-circle fa-3"></span>
  </div>
  <div class="">

    <div class="content">

      <div class="insight">
        <h1>
          <div class="icon-thumbs-up fa-5" ng-show="overviewData.overview.glassdoor.centi_score == 'Good Score'"></div>
          <div class="icon-thumbs-down fa-5" ng-show="overviewData.overview.glassdoor.centi_score == 'Bad Score'"></div>
          <br/>
          {{overviewData.overview.glassdoor.centi_score || 'N/A' | characters:75}}
        </h1>
      </div>
      <div class="insight well">
        <span class="icon-happy fa-5"></span>
        <p>{{overviewData.overview.glassdoor.featuredReview_pros.replace('•', '') || 'N/A' | characters:75}}</p>
      </div>
      <div class="insight well">
        <span class="icon-sad fa-5"></span>
        <p>{{overviewData.overview.glassdoor.featuredReview_cons.replace('•', '') || 'N/A' | characters:75}}</p>
      </div>
    </div>
  </div>
</div>

