<!-- BENCHMARKING SUMMARY-->

<div class="col-sm-6 col-md-4 risk-square masonry-brick-small animated flipInX">
  <div class="heading">
    <svg ng-show="overview.TCR_COMPANY || overview.TCR_INDUSTRY" height="13" width="10">
      <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
    </svg>
    <svg ng-show="!overview.TCR_COMPANY && !overview.TCR_INDUSTRY" height="13" width="10">
      <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
    </svg>
    <h6>Benchmarking</h6>
    <span  ng-show="overview.TCR_INDUSTRY"class="icon-expand" options="modalOptions" animated-modal href="#benchmarkingModal" ></span>
  </div>
  <div class="illness-summary content-summary">
    <div ng-show="overview.DAFW_COMPANY">
      <h3>Incidents involving Days Away From Work (per 10K employees) in {{overview.DAFW_COMPANY.year}}:</h3>
      <h1><div class="round-score" >{{overview.DAFW_COMPANY.value | number:0}}</div ></h1>

    </div>
    <div ng-show="overview.DAFW_INDUSTRY && !overview.DAFW_COMPANY">
      <h1>DAFW Industry Data</h1>
    </div>
    <h1 ng-show="!overview.DAFW_INDUSTRY && !overview.DAFW_COMPANY"><span class="no-data" >No Data Available</span></h1>
  </div>
</div>

<!-- TCR COMPANY (bls/benchmarking) -->

<div class="col-sm-6 col-md-4 risk-square masonry-brick-small animated flipInX">
  <div class="heading">
    <svg ng-hide="!overview.TCR_COMPANY && !overview.TCR_INDUSTRY" height="13" width="10">
      <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
    </svg>
    <svg ng-show="!overview.TCR_COMPANY && !overview.TCR_INDUSTRY" height="13" width="10">
      <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
    </svg>
    <h6>Company TCR</h6>
    <!--<span ng-show="tcr" class="icon-expand" options="modalOptions" animated-modal href="#benchmarkingModal"></span>-->
  </div>

  <div class="content-summary">
    <div ng-show="overview.TCR_COMPANY">
      <div>
        <h3>TCR {{overview.TCR_COMPANY.year}}:</h3>
        <h1>
          <div>{{overview.TCR_COMPANY.value | number:5}}</div>
        </h1>
      </div>
    </div>
    <div ng-hide="!overview.TCR_INDUSTRY && !overview.TCR_COMPANY">
      <h3>Industry Comparison:</h3>
      <h1><div>{{overview.TCR_INDUSTRY.value}}</div></h1>

      <h1 ng-show="!overview.TCR_INDUSTRY.value">N/A</h1>
    </div>
    <h1 ng-show="!overview.TCR_INDUSTRY && !overview.TCR_COMPANY"><span class="no-data" >No Data Available</span></h1>

  </div>
</div>

<div id="benchmarkingModal" class="col-sm-6 col-md-4">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="close-benchmarkingModal close-modal">
    <span class="icon-cross-circle fa-3"></span>
  </div>
  <div class="content">
    <div>
      <nvd3 options="options" data="data"></nvd3>
    </div>
  </div>
</div>