<!-- JT SUMMARY-->

<div class="col-sm-6 col-md-4 risk-square masonry-brick-small animated flipInX">
  <div ng-show="hasJobTransitionData()">
    <div class="heading">
      <svg height="13" width="10">
        <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
      </svg>
      <h6>Job Transitions</h6>
      <span class="icon-expand" options="modalOptions" animated-modal href="#jtModal" ></span>
    </div>
    <div class="illness-summary content-summary">
      <div ng-show="jtRatio > 1">
        <h3>Company <span ng-bind="dataType"></span> turnover <span class="above">above</span> national average</h3>
        <h1><span class="icon-thumbs-down fa-5"></span></h1>
      </div>

      <div ng-show="jtRatio < 1">
        <h3>Company <span ng-bind="dataType"></span> turnover <span class="below">below</span> national average</h3>
        <h1><span class="icon-thumbs-up fa-5"></span></h1>
      </div>

      <div ng-show="jtRatio === 1">
        <h3>Company <span ng-bind="dataType"></span> turnover equal to national average.</h3>
      </div>
    </div>
  </div>

  <div ng-show="!hasJobTransitionData()">
    <div class="heading">
      <svg height="13" width="10">
        <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
      </svg>
      <h6>Job Transitions</h6>
      <div class="illness-summary content-summary">
        <h1><span class="no-data" >No Data Available</span></h1>
      </div>
    </div>
  </div>
</div>

<!--job transition modal-->
<div id="jtModal" class="col-sm-6 col-md-4">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="close-jtModal close-modal">
      <span class="icon-cross-circle fa-3"></span>
  </div>
  <div class="content">
    <div>
      <nvd3 options="options" data="data"></nvd3>
    </div>
  </div>
</div>