<!-- WAGES SUMMARY-->
<div class="col-sm-6 col-md-4 risk-square animated flipInX">
  <div ng-show="hasAcordData()">
    <div class="heading">
      <svg height="13" width="10">
        <circle cx="5" cy="7" r="5" fill="#2caf7d"></circle>
      </svg>
      <h6>Wages</h6>
      <span class="icon-expand" options="modalOptions" animated-modal href="#wagesModal" ></span>
    </div>
    <div class="illness-summary content-summary">
      <div ng-show="summaryDirection === 'above'">
        <h3>Company wages are <span class="above">above</span> average for Geography / Industry</h3>
        <h1><span class="icon-thumbs-down fa-5"></span></h1>
      </div>

      <div ng-show="summaryDirection === 'below'">
        <h3>Company wages are <span class="below">below</span> average for Geography / Industry</h3>
        <h1><span class="icon-thumbs-up fa-5"></span></h1>
      </div>

      <div ng-show="summaryDirection === 'mixed'">
        <h3>Company wages are both above and below average for Geography / Industry</h3>
      </div>
    </div>
  </div>

  <div ng-show="!hasAcordData()">
    <div class="heading">
      <svg height="13" width="10">
        <circle cx="5" cy="7" r="4" fill="none" stroke="#666" stroke-width="1"></circle>
      </svg>
      <h6>Wages</h6>
      <span class="icon-expand" options="modalOptions" animated-modal href="#wagesModal" ></span>
    </div>
    <div class="illness-summary content-summary">
      <h3>ACORD data has not yet been uploaded. Expand to see national averages.</h3>
    </div>
  </div>
</div>

<!--wages modal-->
<div id="wagesModal" class="col-sm-6 col-md-4">
    <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
    <div class="close-wagesModal close-modal">
        <span class="icon-cross-circle fa-3"></span>
    </div>
    <div>
      <h2 class="text-center">Wages</h2>
      <div class="content">
        <datamap map="mapObject"></datamap>
      </div>

    </div>
</div>